<div class="container" *ngIf="validateTab()">
  <h1>Team Scrum Poker</h1>

  <div class="card">
    <div class="card-header">
      Team Name - {{ (game)?.team }}
    </div>
    <div class="card-body">
      <a [routerLink]="['vote']" routerLinkActive="router-link-active">Vote</a> |
      <a [routerLink]="['manage']" routerLinkActive="router-link-active">Manage</a>
      <br/>
      <router-outlet></router-outlet>
      <p>&nbsp;</p>
      <ul class="list-group" *ngIf="votes.length>0">
        <li class="list-group-item list-group-item-primary">Votes Cast</li>
        <li class="list-group-item" *ngFor="let item of votes">{{item.name}} - {{item.vote}}</li>
      </ul>
    </div>
  </div>
</div>
<app-duplicate-tab *ngIf="!validateTab()"></app-duplicate-tab>
