<h5 class="card-title">Cast your vote for Ticket</h5>
<p class="card-text">Click on the effort you deem the work to equate to, remember not to forget testing and documention as part of your effort.</p>

<button id="Option1" (click)="castVote(1)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===1}">1</button>&nbsp;
<button id="Option2" (click)="castVote(2)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===2}">2</button>&nbsp;
<button id="Option3" (click)="castVote(3)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===3}">3</button><br/>
<br/>
<button id="Option4" (click)="castVote(5)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===5}">5</button>&nbsp;
<button id="Option5" (click)="castVote(8)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===8}">8</button>&nbsp;
<button id="Option6" (click)="castVote(13)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===13}">13</button><br/>
<br/>
<button id="Option7" (click)="castVote(21)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===21}">21</button>&nbsp;
<button id="Option8" (click)="castVote(40)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===40}">40</button>&nbsp;
<button id="Option9" (click)="castVote(99)" class="btn btn-primary" [ngClass]="{'btn-danger' : playerVote===99}">99</button>